/* Estilos para o corpo da página */
body {
    font-family: 'Inter', sans-serif;
}

/* Estilos de utilidade para botões */
.btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out;
}

.btn-primary:hover {
    @apply bg-blue-700 scale-105;
}

.btn-secundary {
    @apply bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out;
}

.btn-secundary:hover {
    @apply bg-gray-300 scale-105;
}

/* Estilos para a caixa de mensagem flutuante */
.message-box {
    animation: fadeInOut 5s forwards;
    transform-origin: center center;
}

.message-box.success {
    @apply bg-green-500 text-white;
}

.message-box.error {
    @apply bg-red-500 text-white;
}

@keyframes fadeInOut {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    10% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

/* Estilo para o texto do comentário no hover do gráfico */
.plotly-comment {
  color: yellow;
}
